:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: @primary;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex_1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}

.flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.align-Center {
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

.align-end {
  -webkit-box-align: end;
  -moz-align-items: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.justify-end {
  -webkit-box-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.justify-Between {
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.justify-around {
  -webkit-box-pack: justify;
  -moz-justify-content:space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.justify-Center {
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex_wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.loop(@index) when (@index > 0) {
  .mr@{index} {
    margin-right: @index * 1px;
  }
  
  .mb@{index} {
    margin-bottom: @index * 1px;
  }
    
  .loop(@index - 10);  
}
 
.loop(30);

#root {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background: #f9f9f9;
  > .ant-layout {
    width: 100%;
    height: 100%;
  }
}

.logo-vertical {
  color: #fff;
  text-align: center;
  font-weight: 700;
  padding: 20px;
  font-size: 1.2rem;
}

/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb {
  background-color: #ddd;
  height: 50px;
  outline-offset: -2px;
  outline: 2px solid #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 2px solid #fff;
  box-sizing: border-box;
}
/*---滚动条大小--*/
::-webkit-scrollbar {
  width: 12px;
}

.tab-view-box {
  background: @white;
  border-bottom: 1px solid @borderColor;
  padding: 5px 10px;
  box-sizing: border-box;
  .tag-view-item {
    border: 1px solid @borderColor;
    padding: 3px 10px;
    display: inline-block;
    font-size: 12px;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    .anticon {
      font-size: 12px;
      margin-left: 5px;
      color: #bbb;
    }
    &.active {
      background: @primary;
      color: @white;
      border-color: @primary;
      .anticon {
        color: @white;
      }
    }
  }
}